doctype html
html(ng-app="main")
	head
		title=title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="d3/d3.js", charset="UTF-8")
		script(src="angular/angular.js")
		script(src="javascripts/main.js")
	body
	block content
