extends ../layout
block content
	style.
		.axis path, .axis line {
		fill: none;
		stroke: #0f0;
		shape-rendering: crispEdges;
		}
		.tick{
		font: 10px sans-serif;
		}

	script(src="javascripts/torsionStressGraph.js")

